<div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="psShowPlayers()">
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" [class.show]="showPlayerSelector" (mouseleave)="onMouseLeave()">
    <li class="list-group-item" *ngFor="let player of team.Players" (click) ="onSelectPlayer(player)">
      <span>{{player.Name}} - {{player.Rate}}</span>
    </li>
  </ul>
</div>
