<h2>{{title}}</h2>
  
  <div class="col-lg-4 col-md-4 col-sm-4 pull-right">
    <table-filter placeholder="Search Teams" quickSearchUrl="api/Team/QS" (filtered)="onFiltered($event)" initialFilterText="{{spfInputs.Filter}}"></table-filter>
  </div>

<table class="table table-hover" sortable-table (sorted)="onSorted($event)">
  <thead>
    <tr>
      <th sortable-column="Id">Id</th>
      <th sortable-column="Number">Number</th>
      <th sortable-column="Name">Name</th>
    </tr>
  </thead>
  <tbody> 
    <tr class="clickable-row" *ngFor="let team of teams" [class.selected]="team === selectedTeam" (click)="onSelect(team)">
      <td>{{team.Id}}</td>
      <td>{{team.Number}}</td>
      <td>{{team.Name}}</td>
    </tr>
  </tbody>
</table>
<table-paging totalPages="totalPages" [(spfData)]="spfOutputs" (pageChanged)="onPageChanged($event)"></table-paging>
