<table class="table table-hover" sortable-table (sorted)="onSorted($event)">
  <thead>
    <tr>
      <th sortable-column="Number">Number</th>
      <th sortable-column="FirstName">First Name</th>
      <th sortable-column="LastName">Last Name</th>
      <th sortable-column="Rating">Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable-row" *ngFor="let player of players" [class.selected]="player === selectedPlayer" (click)="onSelect(player)">
      <td>{{player.Number}}</td>
      <td>{{player.FirstName}}</td>
      <td>{{player.LastName}}</td>
      <td>{{player.Rating}}</td>
  </tr>
  </tbody>
</table>
