<div class="player-edit">
  <div>
    <label for="number">Number</label>
    <br />
    <input type="text" id="number" [(ngModel)]="player.Number" />
  </div>
  <div>
    <label for="firstName">First Name</label>
    <br />
    <input type="text" id="firstName" [(ngModel)]="player.FirstName" />
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <br />
    <input type="text" id="lastName" [(ngModel)]="player.LastName" />
  </div>
  <div>
    <label for="rating">Rating</label>
    <br />
    <input type="number" id="rating" [(ngModel)]="player.Rating" />
  </div>
</div>
