<div>Match:  {{match.Team.Name}} vs {{match.Opponent.Name}} </div>
<div>{{match.Id}}</div>
<hr />
<form #matchForm="ngForm">
  <div>Score:  Us - {{match.TotalScore}}  Them - {{match.TotalOpponentScore}}</div>
  <app-match-set [matchSet]="match.Set1"></app-match-set>
  <app-match-set [matchSet]="match.Set2"></app-match-set>
  <app-match-set [matchSet]="match.Set3"></app-match-set>
  <app-match-set [matchSet]="match.Set4"></app-match-set>
  <app-match-set [matchSet]="match.Set5"></app-match-set>

</form>
