<div class="input-group">
  <input #searchBox id="search-box" class="form-control" type="text" autocomplete="off" [(ngModel)]="filterText" placeholder="{{placeholder}}" (keydown)="onKeyDown($event)" />
  
  <span class="input-group-btn">
    <button class="btn btn-primary" [class.disabled]="!filterApplied" (click)="clearFilter()"><i class="glyphicon glyphicon-filter"></i></button>
    <button class="btn btn-primary" (click)="onFilter()"><i class="glyphicon glyphicon-search"></i></button>
  </span>
</div>
<div class="list-group" *ngIf="results.length > 0">
  <a class="list-group-item" *ngFor="let result of results; let idx = index"  [class.active]="idx == activeIdx" (click)="setFilter(idx)">{{result}}</a>
</div>

