<h2>{{title}}</h2>
<div class="team-edit">
  <div>
    <label for="name">Team Name:</label>
    <br/>
    <input type="text" id="name" [(ngModel)]="team.Name" placeholder="choose a name..." />
  </div>
  <div>
    <label for="number">Team Number:</label>
    <br/>
    <input type="text" id="number" [(ngModel)]="team.Number" placeholder="choose a number..."/>
  </div>
  <h3>Players</h3>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let player of team.Players">
      <div class="row">
        <div class="col-sm-4">
          <span>{{player.Number}}: {{player.LastName}}, {{player.FirstName}} - {{player.Rating}}</span>
        </div>
        <div class="col-sm-4"><input type="button" class="btn btn-link" (click)="editPlayer(player)" value="Edit" /><input type="button" class="btn btn-link" (click)="removePlayer(player)" value="Remove" /></div>
      </div>
    </li>
  </ul>

  <div>
    <input *ngIf="editMode" type="button" value="Apply Changes" (click)="onSubmit(team)"/>
    <input *ngIf="!editMode" type="button" value="Create Team" (click)="onSubmit(team)"/>
    <input type="button" value="Cancel" (click)="onBack()" />
  </div>
</div>
